<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<th:block th:include="partialViews/navbar :: navbar" ></th:block>

<h3>Create new Tweet Controller</h3>




<div class="container">
    <h3>Twitt From</h3>
    <form   th:action="@{/tweet/saveOrUpdate}" th:object="${tweet}" method="post">
        <input type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label for="content">Content:</label>
            <input class="form-control" id="content" th:field="*{content}" >

            <input type="hidden" class="form-control" id="content" th:field="*{type}" >
        </div>

            <span th:text="${tweet.getCreateDate()}" style="display: none"></span>


        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<th:block th:include="partialViews/footer :: footer"></th:block>

</body>
</html>