<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<th:block th:include="partialViews/navbar :: navbar"></th:block>

<h3>Index Controller</h3>


<!--<button type="button" class="btn btn-primary">-->
<!--<a th:href="@{/tweet/tweetForm}" class="text-primary">Post Tweet</a>-->
<!--</button>-->


<!--<div class="container">-->
<!--<form th:action="@{/comment/saveOrUpdate(tweetId=${tweet.getId()} , username=${tweet.getTwitterUser().getUsername()})}"-->
<!--th:object="${newComment}" method="post">-->
<!--<input type="hidden" th:field="*{id}"/>-->
<!--<div class="form-group">-->
<!--<label for="content">Write your comment:</label>-->
<!--<input class="form-control" id="content" th:field="*{content}">-->
<!--</div>-->
<!--<button type="submit" class="btn btn-primary">Submit</button>-->
<!--</form>-->
<!--</div>-->

<!-- Page Content -->
<div class="container">

    <div class="row my-5">

        <div class="col-3">
            <!--user card-->
            <div class="card mb-5">
                <img class="card-img-top" src="https://www.w3schools.com/howto/img_avatar.png" alt="Card image cap">
                <div class="card-body">

                    <h5 class="card-title" th:text="${userInfo.getUsername()}">username</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <!--count how many users have this user as follower one-->
                        Following <span th:text="${userInfo.getFollowers().size()}"></span>
                    </li>
                    <li class="list-group-item">
                        <!--count how many users have this user as following one-->
                        Followers <span th:text="${userInfo.getFollowings().size()}"></span>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Home Page</a>
                    <a href="#" class="card-link">Profile Page</a>
                </div>
            </div>
            <!--end of user card-->

            <div class="card p-2">
                <div class="card-header">
                    Suggest for Follow Users
                </div>
                <!--user suggest card-->
                <div th:each="user:${suggestFollowUsers}" class="card mt-2">
                    <div class="card-body">
                        <span th:text="${user.getUsername()}" ></span>
                        <a th:href="@{/twitterUser/followUser(username=${user.getUsername()})}" class="btn btn-primary ml-5">Follow</a>
                    </div>
                </div>
                <!--end of user suggest card-->
            </div>
        </div>


        <div class="col-7">


            <!--tweet from-->
            <form th:action="@{/tweet/saveOrUpdate}" th:object="${newTweet}" method="post">
                <input type="hidden" th:field="*{id}"/>

                <div class="form-group">
                    <label for="content">Content:</label>
                    <input class="form-control" id="content" th:field="*{content}">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            <!--end of tweet form-->

            <!--tweet card-->
            <div th:each="tweet: ${topTweetsByNumberOfReactions}" class="card mx-1 my-4">
                <div class="card-body">

                    <div class="card-title text-muted">
                        <span>Posted on</span>
                        <span th:text="${tweet.getCreateDate().toLocaleString()}"> ...</span>
                        <span>by</span>
                        <span class="text-primary" th:text="${tweet.getTwitterUser().getUsername()}">no user</span>
                        <div th:if="${userInfo.getUsername().equals(tweet.getTwitterUser().getUsername())}"
                             class="float-right">
                            <a th:href="@{/tweet/updateTweet(id=${tweet.getId()})}" class="mr-2">
                                <i class="material-icons" style="font-size:24px;color:dodgerblue; cursor: pointer;" title="Edit Tweet">edit</i>
                            </a>
                            <a th:href="@{/tweet/deleteTweet(id=${tweet.getId()})}" class="text-danger">
                                <i class="material-icons" style="font-size:24px;color:black; cursor: pointer;" title="Delete Tweet" >delete</i>
                            </a>
                        </div>
                        <div th:unless="${userInfo.getUsername().equals(tweet.getTwitterUser().getUsername())}"  class="float-right">
                            <i class="fa fa-share-square-o" style="font-size:36px;color:deepskyblue;  cursor: pointer;" title="Retweet"></i>
                        </div>
                    </div>
                    <p th:text="${tweet.getContent()}" class="card-text">Content of the Tweet</p>
                </div>

                <img class="card-img-bottom" src="http://placehold.it/750x300" alt="Card image" style="width:100%">

                <div class="card-footer py-1">
                    <div class="text-primary float-left mt-3" data-toggle="collapse"
                         th:attr="data-target='#comment'+${tweet.getId()}" style="cursor: pointer;">Comments
                    </div>

                    <div class="float-right mt-2">
                        <a th:href="@{/reaction/saveOrUpdate(username = ${tweet.getTwitterUser().getUsername()} ,tweetId=${tweet.getId()})}">
                            <i class="fa fa-heart" style="font-size:32px;color:#f44336"></i>
                        </a>
                        <span th:text="${tweet.getReactions().size()}">number</span>
                    </div>
                    <br>
                    <br>
                    <div th:id="'comment'+${tweet.getId()}" class="collapse">

                        <div th:each="comment:${tweet.getComments()}" class="card my-2">
                            <div class="card-header text-muted">
                                <span>Posted on</span>
                                <span th:text="${comment.getCreateDate().toLocaleString()}">no user</span>
                                <span>by</span>
                                <span th:text="${comment.getTwitterUser().getUsername()}"
                                      class="text-info"> user </span>
                            </div>
                            <div class="card-body">
                                <p th:text="${comment.getContent()}" class="card-text">With supporting text below as a
                                    natural lead-in to additional content.</p>
                            </div>
                        </div>


                        <div class="container">
                            <form th:action="@{/comment/saveOrUpdate(tweetId=${tweet.getId()} , username=${tweet.getTwitterUser().getUsername()})}"
                                  th:object="${newComment}" method="post">
                                <input type="hidden" th:field="*{id}"/>
                                <div class="form-group">
                                    <label for="content">Write your comment:</label>
                                    <input class="form-control" id="content" th:field="*{content}">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
            <!--tweet card end-->
        </div>


    </div>

</div>


<th:block th:include="partialViews/footer :: footer"></th:block>

</body>
</html>