<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/public/css/bootstrap.min.css}" />
</head>
<body>
<th:block th:include="partialViews/navbar :: navbar" ></th:block>

<h3>Index Controller</h3>



<script th:href="@{/public/js/jquery-3.3.1.min.js}"></script>
<script th:href="@{/public/js/bootstrap.min.js}"></script>
</body>
</html>