<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Join our community</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/public/bootstrap/css/bootstrap.min.css}">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" th:href="@{/public/css/style.css}">
</head>

<body>
<div class="row p-0" id="loginPage">
    <div class="d-none d-lg-block col-lg-7" style="height: 100vh; background-color: #BD5D38;">
        <div class="benefits">
            <span style="font-size: 30px; color: white;">
                <i class="fab fa-connectdevelop" style="width: 30px;"></i><p class="benefit" style="display: inline-block">Connect with everyone.</p>
            </span> <br>
            <span style="font-size: 30px; color: white;">
                <i class="fas fa-user-friends" style="width: 30px;"></i><p class="benefit" style="display: inline-block">Check for your friend's news.</p>
            </span> <br>
            <span style="font-size: 30px; color: white;">
                <i class="fas fa-heartbeat" style="width: 30px;"></i><p class="benefit" style="display: inline-block">Share every cool moment here.</p>
            </span>
        </div>
    </div>
    <div class="col-lg-5">

        <form method="POST" th:action="@{/loginPage}" class="login-form">
            <h2 class="loginTitle">Title</h2>
            <!--<div class="form-group">-->
            <!--<label for="exampleInputEmail1">Email address</label>-->
            <!--<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">-->
            <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<label for="exampleInputPassword1">Password</label>-->
            <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
            <!--</div>-->
            <div th:if="${error}" class="alert alert-danger">
                <span th:text="${error.toString()}" ></span>
            </div>
            <div th:if="${logout}" class="alert alert-success">
                <span th:text="${logout.toString()}" ></span>
            </div>
            <div class="form-group">
                <label>Username</label>
                <input name="username" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Enter email"/>
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input name="password" type="password" class="form-control" placeholder="Password"/>
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Remember</label>
            </div>
            <button type="submit" class="btn btn-primary">LOGIN</button>
            <a href="#" class="forgot-password">Forgot password?</a><br>
            <a th:href="@{/registerPage}"    class="forgot-password">Create new account</a>
        </form>
    </div>
</div>

<th:block th:include="partialViews/footer :: footer"></th:block>


</body>

</html>

<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--<title>index</title>-->
<!--<meta charset="utf-8">-->
<!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--</head>-->
<!--<body>-->
<!--<th:block th:include="partialViews/navbar :: navbar" ></th:block>-->

<!--<br></br>-->
<!--<h3>Login Page </h3>-->



<!--<div class="container">-->
<!--<div class="row">-->
<!--<div  class="col-6 mx-auto" >-->
<!--<a th:href="@{/registerPage}" class="btn btn-primary ml-5">Register Page</a>-->

<!--<legend>Please Login</legend>-->
<!--<div th:if="${error}" class="alert alert-danger">-->
<!--<span th:text="${error.toString()}" ></span>-->
<!--</div>-->
<!--<div th:if="${logout}" class="alert alert-success">-->
<!--<span th:text="${logout.toString()}" ></span>-->
<!--</div>-->
<!--<form method="POST" th:action="@{/loginPage}" class="form-signin">-->
<!--<h2 class="form-heading">Log in</h2>-->

<!--<div class="form-group ">-->
<!--<span></span>-->
<!--<input name="username" type="text" class="form-control my-4" placeholder="Username"-->
<!--autofocus="true" value = "dev"/>-->
<!--<input name="password" type="password" class="form-control my-4" placeholder="Password" value = "dev" />-->
<!--<span></span>-->

<!--<button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>-->
<!--</div>-->

<!--</form>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--&lt;!&ndash; /container &ndash;&gt;-->

<!--<th:block th:include="partialViews/footer :: footer"></th:block>-->

<!--</body>-->
<!--</html>-->