<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<th:block th:include="partialViews/navbar :: navbar" ></th:block>

<br></br>
<h3>Login Page </h3>



<div class="container">
    <div class="row">
        <div  class="col-6 mx-auto" >
    <legend>Please Login</legend>
    <div th:if="${error}" class="alert alert-danger">
        <span th:text="${error.toString()}" ></span>
    </div>
    <div th:if="${logout}" class="alert alert-success">
        <span th:text="${logout.toString()}" ></span>
    </div>
    <form method="POST" th:action="@{/loginPage}" class="form-signin">
        <h2 class="form-heading">Log in</h2>

        <div class="form-group ">
            <span></span>
            <input name="username" type="text" class="form-control my-4" placeholder="Username"
                   autofocus="true" value = "dev"/>
            <input name="password" type="password" class="form-control my-4" placeholder="Password" value = "dev" />
            <span></span>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
        </div>

    </form>
    </div>
    </div>

</div>
<!-- /container -->

<th:block th:include="partialViews/footer :: footer"></th:block>

</body>
</html>