<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<th:block th:include="partialViews/navbar :: navbar" ></th:block>

<br></br>
<h3>Login Page </h3>



<div class="container">
    <form method="POST" th:action="@{/logoutPage}" class="form-signin">
        <h2 class="form-heading">Log Out</h2>

        <div class="form-group ">

            <button class="btn btn-lg btn-primary btn-block" type="submit">Log Out</button>
        </div>

    </form>

</div>
<!-- /container -->


<script type="text/javascript" th:src="@{/public/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/public/js/bootstrap.min.js}"></script>
</body>
</html>