<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<th:block th:include="partialViews/navbar :: navbar"></th:block>

<h3>Book Mark</h3>

<div class="container" >

    <div class="row">

        <!--tweet card-->
        <div th:each="tweet: ${tweets}" >

            <!--<div th:switch="${tweet.getTweet().getType().toString()}">-->
                <!--<div th:case="'Tweet'">-->
                    <!--<th:block th:include="partialViews/tweetCard :: tweetCard"></th:block>-->
                <!--</div>-->
                <!--<div th:case="'Retweet'">-->
                    <!--<th:block th:include="partialViews/retweetCard :: retweetCard"></th:block>-->
                <!--</div>-->
                <!--<div th:case="'Bookmark'">-->
                    <!--<span></span>-->
                <!--</div>-->
                <!--<div th:case="*">This type does not exist</div>-->
            <!--</div>-->
            <div th:if="${tweet.getTweet().getType().toString().equals('Bookmark')}">
                <th:block th:include="partialViews/bookmarkCard :: bookmarkCard"></th:block>

            </div>

        </div>
        <!--tweet card end-->

    </div>

</div>


<th:block th:include="partialViews/footer :: footer"></th:block>

</body>
</html>