<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<th:block th:include="partialViews/navbar :: navbar"></th:block>

<h3>Home Page</h3>


<!--<button type="button" class="btn btn-primary">-->
<!--<a th:href="@{/tweet/tweetForm}" class="text-primary">Post Tweet</a>-->
<!--</button>-->


<!--<div class="container">-->
<!--<form th:action="@{/comment/saveOrUpdate(tweetId=${tweet.getId()} , username=${tweet.getTwitterUser().getUsername()})}"-->
<!--th:object="${newComment}" method="post">-->
<!--<input type="hidden" th:field="*{id}"/>-->
<!--<div class="form-group">-->
<!--<label for="content">Write your comment:</label>-->
<!--<input class="form-control" id="content" th:field="*{content}">-->
<!--</div>-->
<!--<button type="submit" class="btn btn-primary">Submit</button>-->
<!--</form>-->
<!--</div>-->

<!-- Page Content -->
<div class="container">

    <div class="row my-5">

        <div class="col-3">
            <!--user card-->
            <div class="card mb-5">
                <img class="card-img-top" src="https://www.w3schools.com/howto/img_avatar.png" alt="Card image cap">
                <div class="card-body">

                    <h5 class="card-title" th:text="${userInfo.getUsername()}">username</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <!--count how many users have this user as follower one-->
                        <a th:href="@{/tweetFollow/connections(username=${userInfo.getUsername()},connectionType='followings')}" >Following</a>
                        <span th:text="${userInfo.getFollowers().size()}"></span>
                    </li>
                    <li class="list-group-item">
                        <!--count how many users have this user as following one-->
                        <a th:href="@{/tweetFollow/connections(username=${userInfo.getUsername()},connectionType='followers')}" >Followers</a>
                        <span th:text="${userInfo.getFollowings().size()}"></span>
                    </li>
                    <li class="list-group-item">
                        <!--count how many users have this user as following one-->
                        <a th:href="@{/tweetFollow/connections(username=${userInfo.getUsername()},connectionType='all')}" >See all connections</a>
                        <span th:text="${userInfo.getFollowings().size()}+${userInfo.getFollowers().size()}"></span>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Home Page</a>
                    <a href="#" class="card-link">Profile Page</a>
                </div>
            </div>
            <!--end of user card-->

            <div class="card p-2">
                <div class="card-header">
                    Suggest for Follow Users
                </div>
                <!--user suggest card-->
                <div th:each="user:${suggestFollowUsers}" class="card mt-2">
                    <div class="card-body">
                        <a th:text="${user.getUsername()}" th:href="@{/twitterUser/profilePage(username=${user.getUsername()})}"   ></a>
                        <a th:href="@{/tweetFollow/followUser(username=${user.getUsername()})}" class="btn btn-primary ml-5">Follow</a>
                    </div>
                </div>
                <!--end of user suggest card-->
            </div>
        </div>


        <div class="col-7">



            <!--tweet card-->
            <div th:each="tweet: ${tweets}" >

                <div th:if="${tweet} != null">

                <div th:switch="${tweet.getTweet().getType().toString()}">
                    <div th:case="'Tweet'">
                        <th:block th:include="partialViews/tweetCard :: tweetCard"></th:block>
                    </div>
                    <div th:case="'Retweet'">
                        <th:block th:include="partialViews/retweetCard :: retweetCard"></th:block>
                    </div>
                    <div th:case="'Bookmark'">
                        <span></span>
                    </div>
                    <div th:case="*">This type does not exist</div>
                </div>

                </div>

            </div>
            <!--tweet card end-->
        </div>


    </div>

</div>


<th:block th:include="partialViews/footer :: footer"></th:block>

</body>
</html>