<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<th:block th:include="partialViews/navbar :: navbar"></th:block>
<h3>User Details</h3>

<h1 th:if="${userDetails.getName() != null}">
    <span th:text="${userDetails.getName()}"></span>
</h1>


<br>

<div class="container">
    <h2>Followers</h2>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>Followers</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="follower : ${followers}">



            <td>
            <a th:href="@{/twitterUser/profilePage(username=${follower.getFollower().getUsername()})}"  >
            <button  th:text="${follower.getFollower().getUsername()}"  class="btn btn-info">username</button>
            </a>
            </td>
        </tr>
        </tbody>
    </table>

    <br>
    <br>

    <h2>Followings</h2>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>Followings</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="following : ${followings}">

            <td>
                <a th:href="@{/twitterUser/profilePage(username=${following.getFollowing().getUsername()})}"  >
                    <button  th:text="${following.getFollowing().getUsername()}"  class="btn btn-primary">username</button>
                </a>
            </td>

            <!--<td th:text="${book.getAuthor()}">Place for Author</td>-->
            <!--<td>-->
            <!--<a th:href="@{/book/updateBook(bookId=${book.getId()})}">-->
            <!--<button class="nav-link btn btn-primary">modify</button>-->
            <!--</a>-->
            <!--</td>-->
            <!--<td>-->
            <!--<a th:href="@{/book/deleteBook(bookId=${book.getId()})}"  >-->
            <!--<button class="nav-link btn btn-danger">Delete</button>-->
            <!--</a>-->
            <!--</td>-->
        </tr>
        </tbody>
    </table>
</div>


<th:block th:include="partialViews/footer :: footer"></th:block>

</body>
</html>