<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>index</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">-->
    <link rel="stylesheet" th:href="@{/public/css/bootstrap.min.css}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
<th:block th:include="partialViews/navbar :: navbar"></th:block>
<h3>User Twitts</h3>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div th:if="${username == null}" class="nav-item">
            <div class="col-md-2">
                <a th:href="@{/twitt/twittForm}" class="btn btn-info">Write new post</a>
            </div>
        </div>


        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <!--<h1 class="my-4">Page Heading-->
            <!--<small>Secondary Text</small>-->
            <!--</h1>-->

            <div th:each="twitt: ${userTwitts}">
                <!-- Blog Post -->
                <div class="card mb-4">
                    <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                    <div class="card-body">
                        <h2 th:text="${twitt.getTitle()}" class="card-title">Post Title</h2>
                        <p th:text="${twitt.getContent()}" class="card-text">Post text</p>
                        <div th:if="${username == null}">
                            <a th:href="@{/twitt/updateTwitt(id=${twitt.getId()})}" class="btn btn-primary">Modify</a>
                            <a th:href="@{/twitt/deleteTwitt(id=${twitt.getId()})}" class="btn btn-danger">Delete</a>
                        </div>
                        <button type="button" class="btn btn-primary my-3" data-toggle="collapse"
                                th:attr="data-target='#comment'+${twitt.getId()}">Simple collapsible
                        </button>
                        <div>
                            <a th:href="@{/reaction/saveOrUpdate(username = ${twitt.getTwitterUser().getUsername()} ,twittId=${twitt.getId()})}">
                            <i class="material-icons" style="font-size:48px;color:#2962ff">thumb_up</i>
                            </a>
                            <span th:text="${twitt.getReactions().size()}" >number</span>
                        </div>

                        <div th:id="'comment'+${twitt.getId()}" class="collapse">
                            <div th:each="comment:${twitt.getComments()}" class="card my-2">
                                <div class="card-body" th:text="${comment.getContent()}"></div>
                            </div>


                            <div class="container">
                                <form th:action="@{/comment/saveOrUpdate(twittId=${twitt.getId()} , username=${twitt.getTwitterUser().getUsername()})}"
                                      th:object="${newComment}" method="post">
                                    <input type="hidden" th:field="*{id}"/>
                                    <div class="form-group">
                                        <label for="content">Write your comment:</label>
                                        <input class="form-control" id="content" th:field="*{content}">
                                    </div>


                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>

                        </div>


                    </div>
                    <div class="card-footer text-muted">
                        <span>Posted on</span>
                        <span th:text="${twitt.getCreateDate().toLocaleString()}"> ...</span>
                        <span>by</span>
                        <span th:text="${twitt.getTwitterUser().getUsername()}">no user</span>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>-->

<script th:href="@{/public/js/jquery-3.3.1.min.js}"></script>
<script th:href="@{/public/js/bootstrap.min.js}"></script>
</body>
</html>